  <ion-content class="corps" >
    <ion-row>
      <ion-col>
      <ion-button id="back" color="--ion-color-primary-contrast" size="small" (click)="retour()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
          <div class="logo">
              <div>
                <h2>Easy Transfert</h2>
              </div>
              <!--ion-icon color="light" name="bus"></ion-icon-->
              <!--ion-img src="'../../images/fd1.jpg"></ion-img-->
              <!--icon color="light" name="sunny"></ion-icon-->
              <!-- <ion-icon color="light" name="contact"></ion-icon> -->
              <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
              <!--img src="../../assets/icon/glob.png"-->
             
              <div class="photo-bus">
              <div class="border-white">
                      <ion-img src="../../assets/icon/buss.png"></ion-img>
              </div>
              </div>
              <div class="photo-plane">
                      <div class="border-white">
                              <ion-img src="../../assets/icon/planee.png"></ion-img>
                      </div>
              </div>
              <div class="photo-car">
                   <div class="border-white">
                         <ion-img src="../../assets/icon/carr.png"></ion-img>
                    </div>
              </div>
      </div>
  
      <ion-item style="--highlight-color-focused: #ffff00;">
        <ion-label color="light">Email</ion-label>
        <ion-input color="light" type="mail" placeholder="Adresse email" [(ngModel)]="email" ></ion-input>
      </ion-item>
  
      <ion-item style="--highlight-color-focused: #ffff00;">
        <ion-label color="light">Mot de passe</ion-label>
        <ion-input color="light" type="password" [(ngModel)]="mp"  placeholder="Mot de passe"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>
      <div class="flex">
        <div></div>
          <ion-button class="ion-text-capitalize" [ngStyle]="{'font-size': my_size,'font-weight': my_weight}" 
          color="warning" shape="round" (click)="Sauthentifier()">
          Se connecter</ion-button>
         <div></div>
      </div>
     
      <!--ion-button color = "warning" expand="block" shape="round">S'inscrire</ion-button-->
  
    </ion-col>
    </ion-row>
  </ion-content>
  