<ion-content>
  <ion-row class="header">
    <ion-col>
      <ion-button id="back" color="--ion-color-primary-contrast" size="small" (click)="retour()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
      <br />
      <!--ion-input class="np-chauff" [(ngModel)]="chauff.prenom"></ion-input-->
      <!--ion-input class="np-chauff" [(ngModel)]="chauff.nom"></ion-input-->
      <h2>{{chauff.prenom}} {{chauff.nom}}</h2>
      <div class="flex">
        <rating id="rate-driver" rate="3" size="default"></rating>
        <h5>
            <!--ion-icon name="add-circle"></ion-icon-->
            <ion-datetime displayFormat="DD.MM.YYYY"[(ngModel)]="dateSys" color ="light" readonly>
            </ion-datetime>
        </h5>
            <!--ion-icon name="remove-circle"></ion-icon-->
      </div>
      <div class="photo">
        <div class="border-blue">
          <div class="border-white">
              <!--ion-img class="avatar" src="{{chauff.photo}}" alt="photo chauffeur"></ion-img-->
            <ion-img class="avatar" [src]="'http://transfert.com/storage/chauffeurs/'+chauff.photo" alt="photo chauffeur"></ion-img>
          </div>
        </div>
      </div>
      
      <ion-card *ngFor="let trans of lesTransferts">
          <ion-row>
            <ion-col class="transfert" size="4">
                
            <ion-img src="{{ trans.origine === 'Aéroport' ? '../../assets/icon/aeroport.png' : '../../assets/icon/hotel.png' }}" alt="Origine Transfert"></ion-img>
            </ion-col>
            <ion-col class="transfert" size="5">
              <ion-label>
              <p class="heure">Dép.: {{ trans.heure_d }}</p>
              <p>{{ trans.nbpersonnes }} Personne(s)</p>
              <p><span class="retard" *ngIf="trans.retarde == '1'">Retardé</span></p>
            </ion-label>

            </ion-col>
            <ion-col size="2">
                <ion-button fill="clear" (click)="chargerDetails(trans.id)">
                <ion-icon slot="icon-only" name="logo-buffer"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
      </ion-card>

    </ion-col>

  </ion-row>



</ion-content>