<ion-content>

  <ion-row class="header">

    <ion-col col-4>
      <div class="flex">
     <div class="border-white">
       <div class="border-blue">
        <ion-img class="avatar" src="../../assets/driver1.jpg" alt="photo chauffeur"></ion-img>
      </div>
     </div>
    </div>
    </ion-col>
    <ion-col col-8>
        <h2>Mohamed</h2>
        <h2>Ben Saleh</h2>
        <rating id="rate-driver" rate="3" size="default"></rating>
      
      <h5>17.11.2019</h5>
      
    </ion-col>

  </ion-row>



</ion-content>