<ion-content>
  <ion-row class="header">
    <ion-col>
      <div class="flex">
        <div></div>
        <ion-button id="back" color="--ion-color-primary-contrast" size="small" (click)="retour('11','2019-12-02')">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </div>
     
      <div class="flex-photo">
        <div class="photo">
          <div class="border-blue">
            <div class="border-white">
              <ion-img
                src="{{ unTransfert.origine === 'Aéroport' ? '../../assets/icon/aeroport.png' : '../../assets/icon/hotel.png' }}"
                alt="Origine Transfert"></ion-img>
            </div>
          </div>
        </div>
        <div>
          <h2>Transfert {{unTransfert.origine}}</h2>
          <h5>{{unTransfert.date}}</h5>
          <h6>Dép.: {{unTransfert.heure_d}} Arr.: {{unTransfert.heure_a}}</h6>
          <h6>{{unTransfert.nbpersonnes}} Personne(s)</h6>
        </div>

      </div>
      <div class="flex">


      </div>
    </ion-col>

  </ion-row>

  <ion-list> 
      <ion-item-sliding *ngFor="let transinter of transIntermediaires; let i=index">
      <ion-item>
      <ion-col class="transfert" size="3">
        <div class="num">0{{i+1}}</div>
        <!--ion-img class="avatar" src="'../../assets/icon/aeroport.png" alt="Origine Transfert"></ion-img-->
      </ion-col>
      <ion-col class="transfert" size="9">
        <ion-label>
          <p class="heure">Source: {{transinter.nom_hotel}}</p>
          <p>Vol: {{transinter.id_vol}}</p>
          <p>Dép.: {{transinter.heure_d}} <span class="retard" *ngIf="transinter.heure_d_retard != '00:00:00'">{{transinter.heure_d_retard}}</span></p>
          <p>Arr.:  {{transinter.heure_a}} <span class="retard" *ngIf="transinter.heure_a_retard != '00:00:00'">{{transinter.heure_d_retard}}</span></p>
          <p>{{transinter.nbperso}} Personne(s)</p>
        </ion-label>
      </ion-col>
    </ion-item>
    <ion-item-options>
        <ion-button fill="outline" [id]="'confirm_' + i" color="success" [disabled]="transinter.etat == 'Réalisé' ? true : false" (click)="confirmer(i,transinter.id)">
            <ion-icon slot="icon-only" class="icone" name="contacts"></ion-icon>
        </ion-button>
        <ion-button fill="outline" color="danger">
            <ion-icon slot="icon-only" class="icone" name="logo-buffer"></ion-icon>
        </ion-button>
    </ion-item-options>
      </ion-item-sliding>
  
  </ion-list>
</ion-content>