<ion-content class="corps">
        <ion-row>
                <ion-col>
                        <div class="logo">
                                <!--ion-icon color="light" name="bus"></ion-icon-->
                                <!--ion-img src="'../../images/fd1.jpg"></ion-img-->
                                <!--icon color="light" name="sunny"></ion-icon-->
                                <!-- <ion-icon color="light" name="contact"></ion-icon> -->
                                <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
                                <img src="../../assets/icon/glob.png">
                                <h2>EASY TRANSFERT</h2>
                        </div>
                        <ion-footer>
                                <ion-row>
                                        <ion-col>
                                                <div></div>
                                        </ion-col>
                                        <ion-col>
                                                <ion-button [routerLink]="['/login']" color="warning" shape="round">
                                                        Entrer</ion-button>
                                        </ion-col>
                                        <ion-col>
                                                <div></div>
                                        </ion-col>
                                </ion-row>
                        </ion-footer>
                </ion-col>
        </ion-row>
</ion-content>