.corps{
    --background: url('../../assets/fd14.jpg') no-repeat 65% top;
}
/*ion-footer{
    --ion-background-color: transparent!important;
}*/
/*
.logo ion-icon{
    font-size: 9em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}*/
.photo-bus {
    display: flex;
    justify-content: center;
    margin-top: 135px;
    margin-left: 57px;
    width: 80px;
    height: 80px;
  }
  .photo-plane {
    display: flex;
    justify-content: center;
    margin-top: -106px;
    margin-left: 132px;
    width: 80px;
    height: 80px;
  }
  .photo-car {
    display: flex;
    justify-content: center;
    margin-top: -54px;
    margin-left: 207px;
    width: 80px;
    height: 80px;
  }
  .border-white {
    //width: fit-content;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
/*.logo img{
    height: 86px;
    width: 86px;
    position: relative;
    top: 4%;
    left: 4%;
    //transform: translate(-50%, -50%);
}*/
.logo {
    position: relative;
    height: 443px;
}
.logo h2{
    color: white;
    //float: right;
    //padding-right: 31px;
    //padding-top: 29px;
    margin-top: 65px;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
}
.entrer .md .hydrated{
   --font-size: 18px!important;
}